{% extends "base.html" %}
{% block title %}Bilioteka - Strona główna {% endblock %}

{% block content %}
    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            Książki
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list' %}">Wyświelt wszystkie książki</a>
        </div>
        <div class="col-xs-4">
            <a href="{% url 'library:borrower_list' %}">Wyświelt wszystkich czytelników</a>
        </div>
        <div class="col-xs-4">
            <a href="{% url 'library:library_list_to_lend' %}">Wypożycz książkę</a>
        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_create' %}">Dodaj książkę</a>
        </div>
        <div class="col-xs-4">
            <a href="{% url 'library:borrower_create' %}">Dodaj Czytelnika</a>
        </div>
        <div class="col-xs-4">
            <a href="{% url 'library:library_list_to_return' %}">Zwróć książkę</a>
        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list_to_edit' %}">Edytuj książkę</a>
        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">

        </div>
    </div>
    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list_to_delete' %}">Usuń książkę</a>
        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">

        </div>
    </div>

        <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list_to_rate' %}">Oceń książkę </a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">

        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:author_create' %}">Dodaj autora </a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">

        </div>
    </div>
    {% else %}
    <div class="row" style="background: azure; margin-top: 30px;">
        <div class="col-sx-12" style="margin: auto">
           Zaloguj się
        </div>
    </div>

    {% endif %}


{% endblock %}