{% extends "base.html" %}
{% block title %}Bilioteka - Strona główna {% endblock %}

{% block content %}
    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            Książki
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>
    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list' %}">Wyświelt wszystkie książki</a>
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_create' %}">Dodaj książkę</a>
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list_to_edit' %}">Edytuj książkę</a>
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>

    <div class="row" style="background: #A1C6EA; margin-top: 10px;">
        <div class="col-xs-4">
            <a href="{% url 'library:book_list_to_delete' %}">Usuń książkę</a>
        </div>
        <div class="col-xs-4">
            Czytelnicy
        </div>
        <div class="col-xs-4">
            Biblioteka
        </div>
    </div>
{% endblock %}